services:
  radarr:
    image: hotio/radarr
    container_name: radarr
    environment:
      PUID: ${DEFAULT_USER}
      PGID: ${DEFAULT_GROUP}
      UMASK: ${DEFAULT_UMASK}
      TZ: ${TIMEZONE}
    volumes:
      - /opt/docker/radarr:/config
      - /server-storage:/server-storage
      - /ocean/media:/media
    ports:
      - "7878:7878"
    env_file:
      - .env
    labels:
      - "org.hotio.pullio.notify=true"
      - "org.hotio.pullio.update=true"
      - "org.hotio.pullio.discord.webhook=${PULLIO_DISCORD_WEBHOOK}"
      - "homepage.group=media"
      - "homepage.name=radarr"
      - "homepage.description=Movie collection manager"
      - "homepage.icon=radarr.svg"
      - "homepage.weight=0"
      - "homepage.widget.type=radarr"
      - "homepage.widget.url=http://${BASE_URL}:7878"
      - "homepage.widget.key=${RADARR_API_KEY}"
    logging:
      driver: awslogs
      options:
        awslogs-region: ${AWS_DEFAULT_REGION}
        awslogs-group: /${DEFAULT_BASE_MACHINE}/radarr
        awslogs-create-group: "true"
    restart: unless-stopped

  sonarr:
    image: hotio/sonarr:latest
    container_name: sonarr
    environment:
      PUID: ${DEFAULT_USER}
      PGID: ${DEFAULT_GROUP}
      UMASK: ${DEFAULT_UMASK}
      TZ: ${TIMEZONE}
    volumes:
      - /opt/docker/sonarr:/config
      - /server-storage:/server-storage
      - /ocean/media:/media
    ports:
      - "8989:8989"
    env_file:
      - .env
    labels:
      - "org.hotio.pullio.notify=true"
      - "org.hotio.pullio.update=true"
      - "org.hotio.pullio.discord.webhook=${PULLIO_DISCORD_WEBHOOK}"
      - "homepage.group=media"
      - "homepage.name=sonarr"
      - "homepage.description=TV Series collection manager"
      - "homepage.icon=sonarr.svg"
      - "homepage.weight=1"
      - "homepage.widget.type=sonarr"
      - "homepage.widget.url=http://${BASE_URL}:8989"
      - "homepage.widget.key=${SONARR_API_KEY}"
    logging:
      driver: awslogs
      options:
        awslogs-region: ${AWS_DEFAULT_REGION}
        awslogs-group: /${DEFAULT_BASE_MACHINE}/sonarr
        awslogs-create-group: "true"
    restart: unless-stopped

  sonarr-anime:
    image: hotio/sonarr:latest
    container_name: sonarr-anime
    environment:
      PUID: ${DEFAULT_USER}
      PGID: ${DEFAULT_GROUP}
      UMASK: ${DEFAULT_UMASK}
      TZ: ${TIMEZONE}
    volumes:
      - /opt/docker/sonarr-anime:/config
      - /server-storage:/server-storage
      - /ocean/media:/media
    ports:
      - "8990:8989"
    env_file:
      - .env
    labels:
      - "org.hotio.pullio.notify=true"
      - "org.hotio.pullio.update=true"
      - "org.hotio.pullio.discord.webhook=${PULLIO_DISCORD_WEBHOOK}"
      - "homepage.group=media"
      - "homepage.name=sonarr-anime"
      - "homepage.description=TV Series collection manager (Anime)"
      - "homepage.icon=sonarr.svg"
      - "homepage.weight=2"
      - "homepage.widget.type=sonarr"
      - "homepage.widget.url=http://${BASE_URL}:8990"
      - "homepage.widget.key=${SONARR_ANIME_API_KEY}"
    logging:
      driver: awslogs
      options:
        awslogs-region: ${AWS_DEFAULT_REGION}
        awslogs-group: /${DEFAULT_BASE_MACHINE}/sonarr-anime
        awslogs-create-group: "true"
    restart: unless-stopped

  recyclarr:
    image: recyclarr/recyclarr
    container_name: recyclarr
    user: ${DEFAULT_USER}:${DEFAULT_GROUP}
    environment:
      TZ: ${TIMEZONE}
      CRON_SCHEDULE: 59 23 28 10 1
    volumes:
      - /opt/docker/recyclarr:/config
    logging:
      driver: awslogs
      options:
        awslogs-region: ${AWS_DEFAULT_REGION}
        awslogs-group: /${DEFAULT_BASE_MACHINE}/recyclarr
        awslogs-create-group: "true"

  tdarr:
    image: ghcr.io/haveagitgat/tdarr
    container_name: tdarr
    environment:
      TZ: ${TIMEZONE}
      PUID: ${DEFAULT_USER}
      PGID: ${DEFAULT_GROUP}
      UMASK_SET: ${DEFAULT_UMASK}
      serverIP: 192.168.1.32
      serverPort: 8266
      webUIPort: 8265
      internalNode: false
      inContainer: true
      ffmpegVersion: 6
    volumes:
      - /opt/docker/tdarr/server:/app/server
      - /opt/docker/tdarr/configs:/app/configs
      - /opt/docker/tdarr/logs:/app/logs
      - /ocean/media:/media:ro
      - /transcode/tdarr_cache:/temp
    ports:
      - "8265:8265"
      - "8266:8266"
    env_file:
      - .env
    logging:
      driver: awslogs
      options:
        awslogs-region: ${AWS_DEFAULT_REGION}
        awslogs-group: /${DEFAULT_BASE_MACHINE}/tdarr
        awslogs-create-group: "true"
    restart: unless-stopped

  tdarr-node:
    image: ghcr.io/haveagitgat/tdarr_node
    container_name: tdarr-node
    environment:
      TZ: ${TIMEZONE}
      PUID: ${DEFAULT_USER}
      PGID: ${DEFAULT_GROUP}
      UMASK_SET: ${DEFAULT_UMASK}
      nodeName: main-node
      serverIP: 192.168.1.32
      serverPort: 8266
      inContainer: true
      ffmpegVersion: 6
    volumes:
      - /opt/docker/tdarr/configs:/app/configs
      - /opt/docker/tdarr/logs:/app/logs
      - /ocean/media:/media:ro
      - /transcode/tdarr_cache:/temp
    env_file:
      - .env
    logging:
      driver: awslogs
      options:
        awslogs-region: ${AWS_DEFAULT_REGION}
        awslogs-group: /${DEFAULT_BASE_MACHINE}/tdarr-node
        awslogs-create-group: "true"
    restart: unless-stopped

  jackett:
    image: hotio/jackett
    container_name: jackett
    environment:
      PUID: ${DEFAULT_USER}
      PGID: ${DEFAULT_GROUP}
      UMASK: ${DEFAULT_UMASK}
      TZ: ${TIMEZONE}
    volumes:
      - /opt/docker/jackett:/config
    ports:
      - "9117:9117"
    env_file:
      - .env
    labels:
      - "org.hotio.pullio.notify=true"
      - "org.hotio.pullio.update=true"
      - "org.hotio.pullio.discord.webhook=${PULLIO_DISCORD_WEBHOOK}"
      - "homepage.icon=jackett.svg"
      - "homepage.weight=6"
      - "homepage.group=media"
      - "homepage.name=jackett"
      - "homepage.description=Torrent index aggregator"
    logging:
      driver: awslogs
      options:
        awslogs-region: ${AWS_DEFAULT_REGION}
        awslogs-group: /${DEFAULT_BASE_MACHINE}/jackett
        awslogs-create-group: "true"
    restart: unless-stopped

  nzbhydra2:
    image: hotio/nzbhydra2
    container_name: nzbhydra2
    environment:
      PUID: ${DEFAULT_USER}
      PGID: ${DEFAULT_GROUP}
      TZ: ${TIMEZONE}
    volumes:
      - /opt/docker/nzbhydra2:/config
    ports:
      - "5076:5076"
    env_file:
      - .env
    labels:
      - "org.hotio.pullio.notify=true"
      - "org.hotio.pullio.update=true"
      - "org.hotio.pullio.discord.webhook=${PULLIO_DISCORD_WEBHOOK}"
      - "homepage.icon=nzbhydra2.svg"
      - "homepage.weight=7"
      - "homepage.group=media"
      - "homepage.name=nzbhydra2"
      - "homepage.description=NZB index aggregator"
    logging:
      driver: awslogs
      options:
        awslogs-region: ${AWS_DEFAULT_REGION}
        awslogs-group: /${DEFAULT_BASE_MACHINE}/nzbhydra2
        awslogs-create-group: "true"
    restart: unless-stopped

  sabnzbd:
    image: hotio/sabnzbd
    container_name: sabnzbd
    environment:
      PUID: ${DEFAULT_USER}
      PGID: ${DEFAULT_GROUP}
      UMASK: ${DEFAULT_UMASK}
      TZ: ${TIMEZONE}
    volumes:
      - /opt/docker/sabnzbd:/config
      - /nvme/sabnzbd:/downloads
      - /server-storage:/data
    ports:
      - "8090:8080"
    env_file:
      - .env
    labels:
      - "org.hotio.pullio.notify=true"
      - "org.hotio.pullio.update=true"
      - "org.hotio.pullio.discord.webhook=${PULLIO_DISCORD_WEBHOOK}"
      - "homepage.group=media"
      - "homepage.name=sabnzbd"
      - "homepage.description=NZB Downloader"
      - "homepage.icon=sabnzbd-alt.svg"
      - "homepage.weight=4"
      - "homepage.widget.type=sabnzbd"
      - "homepage.widget.url=http://${BASE_URL}:8090"
      - "homepage.widget.key=${SABNZBD_API_KEY}"
    logging:
      driver: awslogs
      options:
        awslogs-region: ${AWS_DEFAULT_REGION}
        awslogs-group: /${DEFAULT_BASE_MACHINE}/sabnzbd
        awslogs-create-group: "true"
    restart: unless-stopped

  bazarr:
    container_name: bazarr
    image: hotio/bazarr
    environment:
      PUID: ${DEFAULT_USER}
      PGID: ${DEFAULT_GROUP}
      UMASK: ${DEFAULT_UMASK}
      TZ: ${TIMEZONE}
    volumes:
      - /opt/docker/bazarr:/config
      - /server-storage:/server-storage
      - /ocean/media:/media
    ports:
      - "6767:6767"
    env_file:
      - .env
    labels:
      - "org.hotio.pullio.notify=true"
      - "org.hotio.pullio.update=true"
      - "org.hotio.pullio.discord.webhook=${PULLIO_DISCORD_WEBHOOK}"
      - "homepage.group=media"
      - "homepage.name=bazarr"
      - "homepage.description=Subtitle Downloader"
      - "homepage.icon=bazarr.svg"
      - "homepage.weight=5"
      - "homepage.widget.type=bazarr"
      - "homepage.widget.url=http://${BASE_URL}:6767"
      - "homepage.widget.key=${BAZARR_API_KEY}"
    logging:
      driver: awslogs
      options:
        awslogs-region: ${AWS_DEFAULT_REGION}
        awslogs-group: /${DEFAULT_BASE_MACHINE}/bazarr
        awslogs-create-group: "true"
    restart: unless-stopped

  overseerr:
    image: sctx/overseerr
    container_name: overseerr
    environment:
      TZ: ${TIMEZONE}
      LOG_LEVEL: info
    volumes:
      - /opt/docker/overseerr:/app/config
    ports:
      - "5055:5055"
    labels:
      - "org.hotio.pullio.notify=true"
      - "org.hotio.pullio.update=true"
      - "org.hotio.pullio.discord.webhook=${PULLIO_DISCORD_WEBHOOK}"
      - "homepage.group=media"
      - "homepage.name=overseerr"
      - "homepage.description=Plex requests"
      - "homepage.icon=overseerr.svg"
      - "homepage.weight=3"
      - "homepage.widget.type=overseerr"
      - "homepage.widget.url=http://${BASE_URL}:5055"
      - "homepage.widget.key=${OVERSEERR_API_KEY}"
    restart: unless-stopped
