services:
  spoolman:
    image: ghcr.io/donkie/spoolman:latest
    container_name: spoolman
    environment:
      TZ: ${TIMEZONE}
    volumes:
      - /opt/docker/spoolman/data:/home/app/.local/share/spoolman
    ports:
      - "7912:8000"
    extends:
      file: common.yaml
      service: common
    logging:
      options:
        awslogs-group: /${DEFAULT_BASE_MACHINE}/spoolman
