services:
  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    environment:
      TZ: ${TIMEZONE}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /opt/docker/portainer:/data
    ports:
      - "8100:8000"
      - "9000:9000"
      - "9443:9443"
    extends:
      file: common.yaml
      service: common
    logging:
      options:
        awslogs-group: /${DEFAULT_BASE_MACHINE}/portainer

  bookstack:
    image: lscr.io/linuxserver/bookstack
    container_name: bookstack
    depends_on:
      - bookstack_db
    environment:
      PUID: ${DEFAULT_USER}
      PGID: ${DEFAULT_GROUP}
      APP_URL: ${BOOKSTACK_URL}
      DB_HOST: bookstack_db
      DB_USER: ${BOOKSTACK_DB_USER}
      DB_PASS: ${BOOKSTACK_DB_PASS}
      DB_DATABASE: ${BOOKSTACK_DB_DATABASE}
    volumes:
      - /opt/docker/bookstack:/config
    ports:
      - "7000:80"
    extends:
      file: common.yaml
      service: common
    logging:
      options:
        awslogs-group: /${DEFAULT_BASE_MACHINE}/bookstack

  bookstack_db:
    image: lscr.io/linuxserver/mariadb
    container_name: bookstack_db
    environment:
      PUID: ${DEFAULT_USER}
      PGID: ${DEFAULT_GROUP}
      MYSQL_ROOT_PASSWORD: ${BOOKSTACK_DB_PASS}
      TZ: ${TIMEZONE}
      MYSQL_DATABASE: ${BOOKSTACK_DB_DATABASE}
      MYSQL_USER: ${BOOKSTACK_DB_USER}
      MYSQL_PASSWORD: ${BOOKSTACK_DB_PASS}
    volumes:
      - /opt/docker/bookstack-db:/config
    extends:
      file: common.yaml
      service: common
    logging:
      options:
        awslogs-group: /${DEFAULT_BASE_MACHINE}/bookstack_db

  home-assistant:
    image: "ghcr.io/home-assistant/home-assistant:stable"
    container_name: home-assistant
    privileged: true
    volumes:
      - /opt/docker/home-assistant/config:/config
      - /etc/localtime:/etc/localtime:ro
      - /run/dbus:/run/dbus:ro
    ports:
      - "8123:8123"
    extends:
      file: common.yaml
      service: common
    logging:
      options:
        awslogs-group: /${DEFAULT_BASE_MACHINE}/home-assistant

  changedetection:
    image: ghcr.io/dgtlmoon/changedetection.io:latest
    container_name: changedetection
    depends_on:
      sockpuppetbrowser:
        condition: service_started
    environment:
      PLAYWRIGHT_DRIVER_URL: ws://sockpuppetbrowser:3000
      HIDE_REFERER: true
      FETCH_WORKERS: 10
      PUID: ${DEFAULT_USER}
      PGID: ${DEFAULT_GROUP}
    volumes:
      - /opt/docker/changedetection/datastore:/datastore
    ports:
      - "5001:5000"
    extends:
      file: common.yaml
      service: common
    logging:
      options:
        awslogs-group: /${DEFAULT_BASE_MACHINE}/changedetection

  sockpuppetbrowser:
    image: dgtlmoon/sockpuppetbrowser:latest
    container_name: sockpuppetbrowser
    cap_add:
      - SYS_ADMIN
    environment:
      - SCREEN_WIDTH=1920
      - SCREEN_HEIGHT=1024
      - SCREEN_DEPTH=16
      - MAX_CONCURRENT_CHROME_PROCESSES=10
    extends:
      file: common.yaml
      service: common
    logging:
      options:
        awslogs-group: /${DEFAULT_BASE_MACHINE}/sockpuppetbrowser

  karakeep:
    image: ghcr.io/karakeep-app/karakeep:release
    container_name: karakeep
    environment:
      MEILI_ADDR: http://karakeep-meilisearch:7700
      BROWSER_WEB_URL: http://karakeep-chrome:9222
      NEXTAUTH_SECRET: ${KARAKEEP_NEXTAUTH_SECRET}
      OPENAI_API_KEY: ${KARAKEEP_OPENAI_API_KEY}
      INFERENCE_CONTEXT_LENGTH: 8192
      DATA_DIR: /data
      MAX_ASSET_SIZE_MB: 100
    volumes:
      - /opt/docker/karakeep/data:/data
    ports:
      - "3300:3000"
    extends:
      file: common.yaml
      service: common
    logging:
      options:
        awslogs-group: /${DEFAULT_BASE_MACHINE}/karakeep

  karakeep-chrome:
    image: gcr.io/zenika-hub/alpine-chrome:123
    container_name: karakeep-chrome
    command:
      - --no-sandbox
      - --disable-gpu
      - --disable-dev-shm-usage
      - --remote-debugging-address=0.0.0.0
      - --remote-debugging-port=9222
      - --hide-scrollbars
    extends:
      file: common.yaml
      service: common
    logging:
      options:
        awslogs-group: /${DEFAULT_BASE_MACHINE}/karakeep-chrome

  karakeep-meilisearch:
    image: getmeili/meilisearch:v1.11.1
    container_name: karakeep-meilisearch
    environment:
      MEILI_NO_ANALYTICS: "true"
    volumes:
      - /opt/docker/karakeep-meilisearch:/meili_data
    extends:
      file: common.yaml
      service: common
    logging:
      options:
        awslogs-group: /${DEFAULT_BASE_MACHINE}/karakeep-meilisearch

  pricebuddy:
    build:
      context: .
      dockerfile: docker/php.dockerfile
    image: jez500/pricebuddy:latest
    container_name: pricebuddy
    depends_on:
      - pricebuddy-db
    environment:
      DB_HOST: pricebuddy-db                                  # Name of the database service
      DB_DATABASE: pricebuddy                                 # Should match the MYSQL_DATABASE in the database service
      SCRAPER_BASE_URL: http://pricebuddy-scrapper:3000       # Url to Name of the scrapper service
      AFFILIATE_ENABLED: true                                 # See https://pricebuddy.jez.me/support-project.html
    volumes:
      - /opt/docker/pricebuddy/storage:/app/storage
      - /opt/docker/pricebuddy/.env:/app/.env
    ports:
      - 5052:80
    extends:
      file: common.yaml
      service: common
    logging:
      options:
        awslogs-group: /${DEFAULT_BASE_MACHINE}/pricebuddy

  pricebuddy-db:
    image: mysql:8.2
    container_name: pricebuddy-db
    environment:
      MYSQL_DATABASE: pricebuddy
    volumes:
      - /opt/docker/pricebuddy/database:/var/lib/mysql
    extends:
      file: common.yaml
      service: common
    logging:
      options:
        awslogs-group: /${DEFAULT_BASE_MACHINE}/pricebuddy-db

  pricebuddy-scrapper:
    image: amerkurev/scrapper:latest
    container_name: pricebuddy-scrapper
    ports:
      - 3030:3000 # Optional, if you want to access the scrapper api from the host machine
    extends:
      file: common.yaml
      service: common
    logging:
      options:
        awslogs-group: /${DEFAULT_BASE_MACHINE}/pricebuddy-scrapper

  paperless-ngx-webserver:
    image: ghcr.io/paperless-ngx/paperless-ngx:latest
    container_name: paperless-ngx-webserver
    depends_on:
      - paperless-ngx-db
      - paperless-ngx-broker
      - paperless-ngx-gotenberg
      - paperless-ngx-tika
    env_file:
      - .paperless.env
    volumes:
      - /opt/docker/paperless-ngx/data:/usr/src/paperless/data
      - /opt/docker/paperless-ngx/media:/usr/src/paperless/media
      - /opt/docker/paperless-ngx/export:/usr/src/paperless/export
      - /opt/docker/paperless-ngx/consume:/usr/src/paperless/consume
    ports:
      - "3500:8000"
    extends:
      file: common.yaml
      service: common
    logging:
      options:
        awslogs-group: /${DEFAULT_BASE_MACHINE}/paperless-ngx-webserver

  paperless-ngx-broker:
    image: docker.io/library/redis:7
    container_name: paperless-ngx-broker
    volumes:
      - /opt/docker/paperless-ngx/redisdata:/data
    extends:
      file: common.yaml
      service: common
    logging:
      options:
        awslogs-group: /${DEFAULT_BASE_MACHINE}/paperless-ngx-broker

  paperless-ngx-db:
    image: docker.io/library/postgres:17
    container_name: paperless-ngx-db
    environment:
      POSTGRES_DB: ${PAPERLESS_DB}
      POSTGRES_USER: ${PAPERLESS_DB_USER}
      POSTGRES_PASSWORD: ${PAPERLESS_DB_PASSWORD}
    volumes:
      - /opt/docker/paperless-ngx/pgdata:/var/lib/postgresql/data
    extends:
      file: common.yaml
      service: common
    logging:
      options:
        awslogs-group: /${DEFAULT_BASE_MACHINE}/paperless-ngx-db

  paperless-ngx-gotenberg:
    image: docker.io/gotenberg/gotenberg:8.19
    container_name: paperless-ngx-gotenberg
    # The gotenberg chromium route is used to convert .eml files. We do not
    # want to allow external content like tracking pixels or even javascript.
    command:
      - "gotenberg"
      - "--chromium-disable-javascript=true"
      - "--chromium-allow-list=file:///tmp/.*"
    extends:
      file: common.yaml
      service: common
    logging:
      options:
        awslogs-group: /${DEFAULT_BASE_MACHINE}/paperless-ngx-gotenberg

  paperless-ngx-tika:
    image: docker.io/apache/tika:latest
    container_name: paperless-ngx-tika
    extends:
      file: common.yaml
      service: common
    logging:
      options:
        awslogs-group: /${DEFAULT_BASE_MACHINE}/paperless-ngx-tika

  homebox:
    image: ghcr.io/sysadminsmedia/homebox:latest
    container_name: homebox
    environment:
      - HBOX_LOG_LEVEL=info
      - HBOX_LOG_FORMAT=text
      - HBOX_WEB_MAX_FILE_UPLOAD=10
      - HBOX_OPTIONS_ALLOW_ANALYTICS=false
    volumes:
      - /opt/docker/homebox/data:/data/
    ports:
      - 3600:7745
    extends:
      file: common.yaml
      service: common
    logging:
      options:
        awslogs-group: /${DEFAULT_BASE_MACHINE}/homebox
