services:
  thelounge:
    image: thelounge/thelounge
    container_name: thelounge
    volumes:
      - ${DOCKER_DIRECTORY_BASE_PATH}/thelounge:/var/opt/thelounge
    ports:
      - "9100:9000"
    extends:
      file: common.yaml
      service: common
    logging:
      options:
        awslogs-group: /${DEFAULT_BASE_MACHINE}/thelounge
