services:
  pairdrop:
    image: lscr.io/linuxserver/pairdrop:latest
    container_name: pairdrop
    environment:
      PUID: ${DEFAULT_USER}
      PGID: ${DEFAULT_GROUP}
      TZ: ${TIMEZONE}
      RATE_LIMIT: false #optional
      WS_FALLBACK: false #optional
      RTC_CONFIG: #optional
      DEBUG_MODE: false #optional
    ports:
      - "3100:3000"
    extends:
      file: common.yaml
      service: common
    logging:
      options:
        awslogs-group: /${DEFAULT_BASE_MACHINE}/pairdrop
