services:
  monitorss-redis:
    image: redis:alpine
    container_name: monitorss-redis
    restart: on-failure:5
    extends:
      file: common.yaml
      service: common
    logging:
      options:
        awslogs-group: /${DEFAULT_BASE_MACHINE}/monitorss-redis

  monitorss-mongodb:
    image: mongo:6.0
    container_name: monitorss-mongodb
    restart: on-failure:5
    command: mongod --port 27017 --bind_ip_all
    volumes:
      - /opt/docker/monitorss/db-data:/data/db
    ports:
      - "27018:27017"
    extends:
      file: common.yaml
      service: common
    logging:
      options:
        awslogs-group: /${DEFAULT_BASE_MACHINE}/monitorss-mongodb

  monitorss-bot:
    image: synzen/monitorss
    container_name: monitorss-bot
    restart: on-failure:3
    depends_on:
      - monitorss-mongodb
    environment:
      DRSS_START: bot
      DRSS_BOT_TOKEN: ${DISCORD_BOT_TOKEN}
      DRSS_DATABASE_URI: mongodb://monitorss-mongodb:27017/rss
      DRSS_FEEDS_REFRESHRATEMINUTES: 3
      DRSS_FEEDS_TIMEZONE: ${TIMEZONE}
      DRSS_LOG_LEVEL: info
    volumes:
      - /opt/docker/monitorss/settings/schedules.json:/app/settings/schedules.json
    extends:
      file: common.yaml
      service: common
    logging:
      options:
        awslogs-group: /${DEFAULT_BASE_MACHINE}/monitorss-bot

  monitorss-web:
    image: synzen/monitorss
    container_name: monitorss-web
    restart: on-failure:3
    depends_on:
      - monitorss-redis
      - monitorss-mongodb
    environment:
      DRSS_START: web
      DRSSWEB_BOT_TOKEN: ${DISCORD_BOT_TOKEN}
      DRSSWEB_DATABASE_REDIS: redis://monitorss-redis:6379
      DRSSWEB_DATABASE_URI: mongodb://monitorss-mongodb:27017/rss
      DRSSWEB_BOT_REDIRECTURI: ${DISCORD_WEB_REDIRECT_URI}
      DRSSWEB_BOT_CLIENTID: ${DISCORD_BOT_CLIENTID}
      DRSSWEB_BOT_CLIENTSECRET: ${DISCORD_BOT_CLIENTSECRET}
    ports:
      - "8281:8081"
    extends:
      file: common.yaml
      service: common
    logging:
      options:
        awslogs-group: /${DEFAULT_BASE_MACHINE}/monitorss-web