services:
  radarr:
    image: ghcr.io/hotio/radarr
    container_name: radarr
    volumes:
      - /opt/docker/radarr:/config
      - /server-storage:/server-storage
      - /ocean/media:/media
    ports:
      - "7878:7878"
    extends:
      file: common.yaml
      service: hotio
    logging:
      options:
        awslogs-group: /${DEFAULT_BASE_MACHINE}/radarr

  sonarr:
    image: ghcr.io/hotio/sonarr:latest
    container_name: sonarr
    volumes:
      - /opt/docker/sonarr:/config
      - /server-storage:/server-storage
      - /ocean/media:/media
    ports:
      - "8989:8989"
    extends:
      file: common.yaml
      service: hotio
    logging:
      options:
        awslogs-group: /${DEFAULT_BASE_MACHINE}/sonarr

  sonarr-anime:
    image: ghcr.io/hotio/sonarr:latest
    container_name: sonarr-anime
    volumes:
      - /opt/docker/sonarr-anime:/config
      - /server-storage:/server-storage
      - /ocean/media:/media
    ports:
      - "8990:8989"
    extends:
      file: common.yaml
      service: hotio
    logging:
      options:
        awslogs-group: /${DEFAULT_BASE_MACHINE}/sonarr-anime

  huntarr:
    image: huntarr/huntarr:latest
    container_name: huntarr
    environment:
      TZ: ${TIMEZONE}
    volumes:
      - /opt/docker/huntarr:/config
    ports:
      - "9705:9705"
    extends:
      file: common.yaml
      service: common
    logging:
      options:
        awslogs-group: /${DEFAULT_BASE_MACHINE}/huntarr

  recyclarr:
    image: recyclarr/recyclarr
    container_name: recyclarr
    user: ${DEFAULT_USER}:${DEFAULT_GROUP}
    environment:
      TZ: ${TIMEZONE}
      CRON_SCHEDULE: 59 23 28 10 1
    volumes:
      - /opt/docker/recyclarr:/config
    extends:
      file: common.yaml
      service: common
    logging:
      options:
        awslogs-group: /${DEFAULT_BASE_MACHINE}/recyclarr

  tdarr:
    image: ghcr.io/haveagitgat/tdarr
    container_name: tdarr
    environment:
      TZ: ${TIMEZONE}
      PUID: ${DEFAULT_USER}
      PGID: ${DEFAULT_GROUP}
      UMASK_SET: ${DEFAULT_UMASK}
      serverIP: ${BASE_URL}
      serverPort: 8266
      webUIPort: 8265
      internalNode: false
      inContainer: true
      ffmpegVersion: 6
    volumes:
      - /opt/docker/tdarr/server:/app/server
      - /opt/docker/tdarr/configs:/app/configs
      - /opt/docker/tdarr/logs:/app/logs
      - /ocean/media:/media:ro
      - /server-storage/new-folder:/new-folder:ro
      - /transcode/tdarr_cache:/temp
    ports:
      - "8265:8265"
      - "8266:8266"
    extends:
      file: common.yaml
      service: common
    logging:
      options:
        awslogs-group: /${DEFAULT_BASE_MACHINE}/tdarr

  tdarr-node:
    image: ghcr.io/haveagitgat/tdarr_node
    container_name: tdarr-node
    environment:
      TZ: ${TIMEZONE}
      PUID: ${DEFAULT_USER}
      PGID: ${DEFAULT_GROUP}
      UMASK_SET: ${DEFAULT_UMASK}
      nodeName: main-node
      serverIP: ${BASE_URL}
      serverPort: 8266
      inContainer: true
      ffmpegVersion: 6
    volumes:
      - /opt/docker/tdarr/configs:/app/configs
      - /opt/docker/tdarr/logs:/app/logs
      - /ocean/media:/media:ro
      - /server-storage/new-folder:/new-folder:ro
      - /transcode/tdarr_cache:/temp
    extends:
      file: common.yaml
      service: common
    logging:
      options:
        awslogs-group: /${DEFAULT_BASE_MACHINE}/tdarr-node

  prowlarr:
    image: ghcr.io/hotio/prowlarr
    container_name: prowlarr
    volumes:
      - /opt/docker/prowlarr:/config
    ports:
      - "9696:9696"
    extends:
      file: common.yaml
      service: hotio
    logging:
      options:
        awslogs-group: /${DEFAULT_BASE_MACHINE}/prowlarr

  nzbhydra2:
    image: ghcr.io/hotio/nzbhydra2
    container_name: nzbhydra2
    volumes:
      - /opt/docker/nzbhydra2:/config
    ports:
      - "5076:5076"
    extends:
      file: common.yaml
      service: hotio
    logging:
      options:
        awslogs-group: /${DEFAULT_BASE_MACHINE}/nzbhydra2

  sabnzbd:
    image: ghcr.io/hotio/sabnzbd
    container_name: sabnzbd
    volumes:
      - /opt/docker/sabnzbd:/config
      - /nvme/sabnzbd:/downloads
      - /server-storage:/data
    ports:
      - "8090:8080"
    extends:
      file: common.yaml
      service: hotio
    logging:
      options:
        awslogs-group: /${DEFAULT_BASE_MACHINE}/sabnzbd

  bazarr:
    image: ghcr.io/hotio/bazarr
    container_name: bazarr
    volumes:
      - /opt/docker/bazarr:/config
      - /server-storage:/server-storage
      - /ocean/media:/media
    ports:
      - "6767:6767"
    extends:
      file: common.yaml
      service: hotio
    logging:
      options:
        awslogs-group: /${DEFAULT_BASE_MACHINE}/bazarr

  overseerr:
    image: sctx/overseerr:latest
    container_name: overseerr
    environment:
      TZ: ${TIMEZONE}
      LOG_LEVEL: info
    volumes:
      - /opt/docker/overseerr:/app/config
    ports:
      - "5055:5055"
    extends:
      file: common.yaml
      service: common
    logging:
      options:
        awslogs-group: /${DEFAULT_BASE_MACHINE}/overseerr

  seerr:
    image: ghcr.io/seerr-team/seerr:latest
    container_name: seerr
    init: true
    environment:
      TZ: ${TIMEZONE}
      LOG_LEVEL: info
    volumes:
      - /opt/docker/seerr:/app/config
    ports:
      - "5056:5055"
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:5055/api/v1/status || exit 1
      start_period: 20s
      timeout: 3s
      interval: 15s
      retries: 3
    extends:
      file: common.yaml
      service: common
    logging:
      options:
        awslogs-group: /${DEFAULT_BASE_MACHINE}/seerr

  maintainerr:
    image: ghcr.io/maintainerr/maintainerr:2
    container_name: maintainerr
    user: ${DEFAULT_USER}:${DEFAULT_GROUP}
    environment:
      TZ: ${TIMEZONE}
    volumes:
      - /opt/docker/maintainerr/data:/opt/data
    ports:
      - "6246:6246"
    extends:
      file: common.yaml
      service: common
    logging:
      options:
        awslogs-group: /${DEFAULT_BASE_MACHINE}/maintainerr

  navidrome:
    image: deluan/navidrome:latest
    container_name: navidrome
    user: ${DEFAULT_USER}:${DEFAULT_GROUP}
    environment:
      ND_SCANSCHEDULE: "0"
    volumes:
      - /opt/docker/navidrome/data:/data
      - /server-storage/music:/music:ro
    ports:
      - "4533:4533"
    extends:
      file: common.yaml
      service: common
    logging:
      options:
        awslogs-group: /${DEFAULT_BASE_MACHINE}/navidrome
