services:
  thelounge:
    image: thelounge/thelounge
    container_name: thelounge
    volumes:
      - /opt/docker/thelounge:/var/opt/thelounge
    ports:
      - "9100:9000"
    labels:
      - "org.hotio.pullio.notify=true"
      - "org.hotio.pullio.update=true"
      - "org.hotio.pullio.discord.webhook=${PULLIO_DISCORD_WEBHOOK}"
    logging:
      driver: awslogs
      options:
        awslogs-region: ${AWS_DEFAULT_REGION}
        awslogs-group: /${DEFAULT_BASE_MACHINE}/thelounge
        awslogs-create-group: "true"
    restart: unless-stopped