services:
  firefly-iii:
    image: fireflyiii/core:latest
    container_name: firefly-iii-core
    hostname: firefly-iii
    depends_on:
      - firefly-iii-db
    env_file: /opt/docker/firefly-iii/.env
    volumes:
      - /opt/docker/firefly-iii/upload:/var/www/html/storage/upload
    ports:
      - "8070:8080"
    extends:
      file: common.yaml
      service: common
    logging:
      options:
        awslogs-group: /${DEFAULT_BASE_MACHINE}/firefly-iii

  firefly-iii-db:
    image: mariadb:lts
    container_name: firefly-iii-db
    hostname: firefly-iii-db
    env_file:
      - /opt/docker/firefly-iii/.db.env
    volumes:
      - /opt/docker/firefly-iii/db:/var/lib/mysql
    extends:
      file: common.yaml
      service: common
    logging:
      options:
        awslogs-group: /${DEFAULT_BASE_MACHINE}/firefly-iii-db

  firefly-iii-importer:
    image: fireflyiii/data-importer:latest
    container_name: firefly-iii-importer
    hostname: firefly-iii-importer
    depends_on:
      - firefly-iii
    env_file: /opt/docker/firefly-iii/.importer.env
    ports:
      - "8071:8080"
    extends:
      file: common.yaml
      service: common
    logging:
      options:
        awslogs-group: /${DEFAULT_BASE_MACHINE}/firefly-iii-importer

#  firefly-iii-cron:
#    #
#    # To make this work, set STATIC_CRON_TOKEN in your .env file or as an environment variable and replace REPLACEME below
#    # The STATIC_CRON_TOKEN must be *exactly* 32 characters long
#    #
#    image: alpine
#    container_name: firefly-iii-cron
#    env_file: .env
#    command: sh -c "
#      apk add tzdata
#      && ln -s /usr/share/zoneinfo/${TIMEZONE} /etc/localtime
#      | echo \"0 3 * * * wget -qO- http://firefly-iii:8080/api/v1/cron/REPLACEME;echo\"
#      | crontab -
#      && crond -f -L /dev/stdout"
#    restart: unless-stopped