services:
  plex:
    image: plexinc/pms-docker
    container_name: plex
    environment:
      TZ: ${TIMEZONE}
      PLEX_CLAIM:
    volumes:
      - ${PLEX_DIRECTORY_BASE_PATH}/pms2:/config
      - ${TRANSCODE_BASE_PATH}/plex2:/transcode
      - ${SERVER_STORAGE_BASE_PATH}:${SERVER_STORAGE_BASE_PATH}:ro
    ports:
      - "33400:32400/tcp"
      - "4005:3005/tcp"
      - "9324:8324/tcp"
      - "33469:32469/tcp"
      - "2000:1900/udp"
      - "33410:32410/udp"
      - "33412:32412/udp"
      - "33413:32413/udp"
      - "33414:32414/udp"
    extends:
      file: common.yaml
      service: common
    logging:
      options:
        awslogs-group: /${DEFAULT_BASE_MACHINE}/plex-secondary

  autopulse:
    image: ghcr.io/dan-online/autopulse
    container_name: autopulse
    environment:
      TZ: ${TIMEZONE}
      PUID: ${DEFAULT_USER}
      PGID: ${DEFAULT_GROUP}
      AUTOPULSE__APP__DATABASE_URL: sqlite://data/autopulse.db
    volumes:
      - ${DOCKER_DIRECTORY_BASE_PATH}/autopulse/config.yml:/app/config.yml
      - ${DOCKER_DIRECTORY_BASE_PATH}/autopulse/data:/app/data
      - ${OCEAN_BASE_PATH}:/datac:ro
    ports:
      - "2875:2875"
    extends:
      file: common.yaml
      service: common
    logging:
      options:
        awslogs-group: /${DEFAULT_BASE_MACHINE}/autopulse

  imdbupdatetool:
    image: mynttt/updatetool
    container_name: imdbupdatetool
    environment:
      RUN_EVERY_N_HOURS: 168
      TVDB_API_KEY: ${TVDB_API_KEY}
      TMDB_API_KEY: ${TMDB_API_KEY}
      USE_PLEX_SQLITE_BINARY_FOR_WRITE_ACCESS: "true"
      UNLOCK_FOR_NEW_TV_AGENT: 2;17
    volumes:
      - ${PLEX_DIRECTORY_BASE_PATH}/pms:/plexdata
      - ${DOCKER_DIRECTORY_BASE_PATH}/imdbupdatetool:/config
    extends:
      file: common.yaml
      service: common
    logging:
      options:
        awslogs-group: /${DEFAULT_BASE_MACHINE}/imdbupdatetool

  jellyfin:
    image: ghcr.io/hotio/jellyfin
    container_name: jellyfin
    volumes:
      - ${DOCKER_DIRECTORY_BASE_PATH}/jellyfin/config:/config
      - ${OCEAN_BASE_PATH}/media:/media:ro
    ports:
      - "8096:8096"
    extends:
      file: common.yaml
      service: hotio
    logging:
      options:
        awslogs-group: /${DEFAULT_BASE_MACHINE}/jellyfin

  tautulli:
    image: tautulli/tautulli
    container_name: tautulli
    environment:
      TZ: ${TIMEZONE}
      PUID: ${DEFAULT_USER}
      PGID: ${DEFAULT_GROUP}
    volumes:
      - ${DOCKER_DIRECTORY_BASE_PATH}/tautulli:/config
      - ${PLEX_DIRECTORY_BASE_PATH}/pms:/plex
    ports:
      - "8182:8181"
    extends:
      file: common.yaml
      service: common
    logging:
      options:
        awslogs-group: /${DEFAULT_BASE_MACHINE}/tautulli

  portainer_agent:
    image: portainer/agent:latest
    container_name: portainer_agent
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "9001:9001"
    extends:
      file: common.yaml
      service: common
    logging:
      options:
        awslogs-group: /${DEFAULT_BASE_MACHINE}/portainer-agent

  tdarr-node:
    image: ghcr.io/haveagitgat/tdarr_node
    container_name: tdarr-node
    environment:
      TZ: ${TIMEZONE}
      PUID: ${DEFAULT_USER}
      PGID: ${DEFAULT_GROUP}
      UMASK_SET: ${DEFAULT_UMASK}
      nodeName: plex-node
      serverIP: ${MAIN_SERVER_IP}
      serverPort: 8266
      inContainer: true
      ffmpegVersion: 6
    volumes:
      - ${DOCKER_DIRECTORY_BASE_PATH}/tdarr/configs:/app/configs
      - ${DOCKER_DIRECTORY_BASE_PATH}/tdarr/logs:/app/logs
      - ${OCEAN_BASE_PATH}/media:/media:ro
      - ${SERVER_STORAGE_BASE_PATH}/new-folder:/new-folder:ro
      - ${TRANSCODE_BASE_PATH}/tdarr_cache:/temp
    extends:
      file: common.yaml
      service: common
    logging:
      options:
        awslogs-group: /${DEFAULT_BASE_MACHINE}/tdarr-node
